@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");

body {
  background-color: #39375b;
}

h1 {
  font-family: "Honk";
  font-size: 3rem;
  margin: 50px;
}

.main-div-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
